//Honestly not 100% familiar with mixins

@mixin abstract-card() {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07), 0 4px 14px rgba(0, 0, 0, 0.05);
    margin: $sp-4 (-$gutter-spacing-sm);
  
    @include mq(md) {
      border-radius: $border-radius;
      margin: $sp-4 0;
    }
  }
  
  %card {
    @include abstract-card();
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 0 $sp-4;
    position: relative;
    word-wrap: break-word;
  
    >:first-child {
      border-top: none !important;
    }
  
    >:last-child {
      border-bottom: none !important;
    }
  
    .label {
      border-radius: $border-radius;
      margin-left: 0;
      user-select: none;
      background-color: $grey-lt-100;
      color: $grey-dk-100;
  
      &.label-lecture {
        background-color:  $yellow-300;
        color: white;
      }
      &.label-demos {
        background-color: $blue-100;
        color: white;
      }
      &.label-checkpoint {
        background-color: $red-200;
        color: white;
      }
      &.label-resources {
        background-color: $green-200;
        color: white;
      }
      &.label-survey {
        background-color: $purple-200;
        color: white;
      }
      &.label-project {
        background-color: $grey-dk-300;
        color: white;
      }
      &.label-reading {
        background-color: $purple-000;
        color: white;
      }
  
      
    }
  }