//Commented out imports since they have not yet been defined

// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule'; 
@import 'staffer';
@import 'acknowledger';

// CUSTOM

//@media is used to control how certain items are displayed on different viewports
//rem refers to "Root Elements Font Size", or the HTML elements font size 

@media (min-width: 66.5rem) {
    .side-bar { width: 248px !important;} //Controls the width of the side bar 
    .main { margin-left: 264px !important;}
  
    .staffer div {
      width: 255px !important; //Controls the width of each staffer div (on the staff page)
    }
  
    .acknowledger div {
      width: 200px !important; //Controls the width of each acknowledgements div (on the acknowledgements page)
    }
  
  }
  
  @media (min-width: 50rem) {
    .main { max-width: 100% !important;}
  
    .site-header {
      max-height: 150px !important;
      height: 100% !important;
    }
  
    .staffer div {
      max-width: 255px !important;
    }
  
    .acknowledger div {
      max-width: 200px !important;
    }
  
    .search-input {
      font-size: 0.9em !important;
    }
  
  }
  
  @media (max-width: 50rem) {
    .site-logo {
      margin-left: 60px !important;
      height: 45px !important;
    }
  }

  .aux-nav {
    font-size: 0.9em !important; //Changes the font size of the auxillary links 
  }

  .site-logo {
    background-position: center !important; //Sets the site's background position to be in the center
  }

  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .main-content-wrap { //Used for minimal?
    max-width: 1500px !important;
    margin-left: 15px !important;
    margin-right: 15px !important
  }

  .staffh2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Optional: for additional centering */
    }

  .staffer {
    max-width: 800px !important; //Used to specify the width of the whole staff page
    font-size: 0.8em !important;
  }
  
  .acknowledger {
    max-width: 500px !important;
    font-size: 0.8em !important;
  }

  .staffer-name a {
    color: #27262b !important; //Used to specify the color of each staff member's name
  }
  
  .acknowledger-name a {
    color: #27262b !important;
  }


/* I suppose these change the color of the font of these buttons to be white, but idk where we use them
  .btn-blue {
    color: white !important;
  }
  .btn-yellow {
    background-color: #ebc326 !important;
    color: #333333 !important;
  }
  .btn-green {
    color: white !important;
  }

  */

  .pronouns { //pronouns label
    font-weight: bold !important;
    display: inline-block;
    padding-top: 0.16em;
    padding-bottom: 0.16em;
    padding-left: 0.56em;
    padding-right: 0.56em;
  
    font-size: 0.8em;
  
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 12px;
  
    background-color: #ecebed;
  }
  
  .term{
    font-weight: bold !important;
    display: inline-block;
    padding-top: 0.16em;
    padding-bottom: 0.16em;
    padding-left: 0.56em;
    padding-right: 0.56em;
  
    font-size: 0.8em;
  
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 12px;
  
    background-color: #ecebed;
  }

  .staffer img { //Sets the max dimensions of images in the staffer div
    max-width: 90px !important;
    max-height: 90px !important;
  }
  
  .acknowledger img {
    max-width: 85px !important;
    max-height: 85px !important;
  }
  
  .team { //Traditionally used for Lead uGSI's team. Might change this to be for something else
    font-weight: bold !important;
    display: inline-block;
    padding-top: 0.16em;
    padding-bottom: 0.16em;
    padding-left: 0.56em;
    padding-right: 0.56em;
  
    font-size: 0.8em;
  
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 6px;
  }

// COLORS

a { //anchor tags are gonna be blue
    color: $blue-100; 
  }
  
  .main-content .anchor-heading svg { //svgs in main-content and anchor-heading are gonna be blue
    color: $blue-100 !important;
  }
  
  .icon {
    color: $blue-100 !important;
  }
  // Overrides
  a abbr[title] {
    border-bottom: none; //abbr tags in an anchor tag should have no border on the bottom
  }
  
  abbr[title] {
    text-decoration: none; //abbr tags in general should not be underlined
  }

  code { //code text using ` ` notation is now red 
    font-size: 14px;
    padding: 0.2em 0.4em;
    border: none;
  
    background-color: #f9f2f4 !important;
    color: #c7254e !important;
  }

  div.highlighter-rouge[overlay] { //honestly don't know what this does LOL
    position: relative;
  
    &::after {
      @extend .label, .text-grey-dk-100;
  
      background-color: $white;
      border-radius: $border-radius;
      bottom: $sp-2;
      content: attr(overlay);
      position: absolute;
      right: 0;
      user-select: none;
    }
  }

  details { //targets specific <detail> tags
    margin: 0 40px 1em;
  }
  
  h1, h2, h3, h4, h5, h6 { //targets all header tags
    align-items: center;
    display: flex;
  }
  
  iframe,
  summary {
    max-width: 100%; //iframe and summary elements cannot take up more than their parent container
  }
  
  summary {
    @extend .btn, .btn-outline; //summary elements inherit from the .btn and .btn-outline classes
  }
  
  .main-content-wrap { //still don't know what main-content-wrap does
    max-width: $content-width;
    margin: auto;
  }

  .main-content { //stuff in .main-content 
    a {
      overflow-wrap: anywhere;
      white-space: normal;
    }
  
    dl {
      display: block;
      grid-template-columns: none;
    }
  
    dt {
      font-weight: 700;
      text-align: start;
  
      &::after {
        content: normal;
      }
    }
  
    dd {
      font-weight: normal;
  
      + dt {
        margin-top: 1em;
      }
    }

    // Specific styles for the staff page
    #staff-page .main-content {
      max-width: 100%; // Example: make the content take the full width
      margin: 0; // Example: remove any margin
      padding: 20px; // Example: add some padding
}
  
    .katex {
      font-size: 1.1em;
    }
  }
  
  [style*="--aspect-ratio"] > :first-child {
    width: 100%;
  }
  
  [style*="--aspect-ratio"] > img {
    height: auto;
  }
  
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
  
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
  
    [style*="--add-height"]::before {
      padding-bottom: calc(100% / (var(--aspect-ratio)) + (var(--add-height)));
    }
  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }

  .code_block { //Styles for creating specific code blocks on the website
    @extend code;
  
    margin-left: 1vw;
    margin-top: 1vw;
  
  
    padding: 1vw;
  
    display: inline-block;
  
    .indent {
      margin-left: 2.5vw;
    }
  
    .control {
      color: #389468;
      font-weight: bold;
    }
    .func {
      color: #4A6096;
    }
    .num {
      color: #389468;
    }
    .op {
      color: #8F3D67;
    }
  }

  .search-icon::selection {
    background-color: #2c84fa !important;
  }

  //Darkmode Styles 

  .dm-btn::selection { //darkmode button's background color when selected
    background-color: #183385 !important;
  }
  
  .dm-btn { 
    color: #264caf !important;
  }
  
  .dm-btn:hover {
    color: #2869e6 !important;
  }
  
  .dm-btn:focus:hover {
    color: #2869e6 !important;
  }
  
  .dm-text {
    color: white;
    font-size: 0.7em;
  }
  
  .dm-text a {
    color: white !important;
  }

  //Buttons on the front page (copied from Data 8 so far, need to change)

  .btn-datahub {
    @include btn-color($white, #FF8C00);
  }
  
  .btn-ed {
    @include btn-color($white, #9400D3);
  }
  
  .btn-bcourses {
    @include btn-color($white, #19519a);
  }
  
  .btn-gradescope {
    @include btn-color($white, #228B22);
  }
  
  .btn-textbook {
    @include btn-color($white, teal);
  }
  
  .btn-extensions {
    @include btn-color($white, #523be7);
  }
  
  .btn-currweek {
    @include btn-color($white, #FA8072);
  }
  
  .btn-officehours{
    @include btn-color($white, #1863c1);
  }
